# Java
/smart-reconciliation-api/target/
/smart-reconciliation-api/logs/
*.log

# Node
/smart-reconciliation-ui/node_modules/
/smart-reconciliation-ui/dist/
/smart-reconciliation-ui/.angular/
/smart-reconciliation-ui/package-lock.json

# IDEs
.idea/
*.iml
.vscode/

