# Java
/smart-reconciliation-api/target/
/smart-reconciliation-api/logs/
/smart-reconciliation-api/src/main/resources/static/
*.log

# Node
/smart-reconciliation-ui/node_modules/
/smart-reconciliation-ui/dist/
/smart-reconciliation-ui/.angular/
/smart-reconciliation-ui/package-lock.json
initails-setup.md

# IDEs
.idea/
*.iml
.vscode/

initails-setup.md